:root {
    --background-color-blue: #459DF5;
    --background-color-white: #FFFFFF;
    --background-color-purple: #8055FF;
    --background-color-black: #000000;
}

.table {
    margin-top: 7.5rem;
}

.header {
    background-color: var(--background-color-blue);
}

.button {
    height: 1rem;
    width: 1rem;
    border: none;
    fill: var(--background-color-white);
    background-color: var(--background-color-blue);
}

.cell {
    display: flex;
    gap: 0.5rem;
    align-content: center;
}