.block {
    display: flex;
    align-items: flex-end;
    gap: 0.25rem;
}

.searchbarIconPosition {
    position: relative;
}

.searchbarIndentSmall {
    padding-left: 0.5rem;
}

.position {
    position: absolute;
    left: 2rem;
}

.buttonPosition {
    top: 2.1rem;
}