:root {
    --background-color-blue: #459DF5;
    --background-color-white: #FFFFFF;
    --background-color-purple: #8055FF;
    --background-color-black: #000000;
    --background-color-gray: #EBF0F5;
}

.block {
    display: flex;
    align-items: flex-end;
    gap: 0.25rem;
}

.searchbarIconPosition {
    position: relative;
}

.searchbarIndentMedium {
    padding-left: 1.18rem;
}

.searchbarIndentBig {
    padding-left: 1.75rem;
}
