.footer {
    padding: 0 1rem 0 1rem;
    flex-grow: 1;
}

.leftBLock {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.rightBLock {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.smallBlock {
    display: flex;
    align-items: center;
}

.button {
    height: 1.5rem;
}

.buttonDelete {
    width: 5.4rem;
}

.buttonChange {
    width: 8.6rem;
}

.buttonPage {
    width: 1.5rem;
}
